*{
    margin: 0;
    padding: 0;
    text-align: center;
}
@media screen and (min-width: 1440px) {
.grid-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 1440px;
}

.a{
    background-color: rgb(127, 255, 146);
    grid-column: 1 / 8 ;
    grid-row: 1 ;
}
.b{
    background-color: powderblue;
    grid-column: 2 / 7;
    grid-row: 2 ;
}
.c{
    background-color: rgb(102, 131, 185);
    grid-column: 1 / 2;
    grid-row: 2 / 6 ;
}
.d{
    background-color: rgb(240, 161, 81);
    grid-column: 2 / 7;
    grid-row: 3 / 6 ;
}
.e{
    background-color: plum;
    grid-column: 7 / 8;
    grid-row: 2 / 6 ;
}
.f{
    background-color: rgb(208, 86, 86);
    grid-column: 1 / 8;
    grid-row: 6;
}
}
@media screen and (min-width: 768px) and (max-width:1440px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
        height: 768px;
    }
    .a{
        background-color: rgb(127, 255, 146);
        grid-column: 1 / 9;
        grid-row: 1;
    }
    .b{
        background-color: powderblue;
        grid-column: 1 / 9;
        grid-row: 2;
    }
    .c{
        background-color: rgb(102, 131, 185);
        grid-column: 1 / 2;
        grid-row: 3 / 6 ;
    }
    .d{
        background-color: rgb(240, 161, 81);
        grid-column: 2 / 9;
        grid-row: 3 / 6;
    }
    .e{
        background-color: plum;
        grid-column: 1;
        grid-row: 6 ;
    }
    .f{
        background-color: rgb(208, 86, 86);
        grid-column: 2 / 9;
        grid-row: 6;
    }
}
@media screen and (min-width: 480px) and (max-width:768px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 10px;
        height: 480px;
    }

    .a{
        background-color: rgb(127, 255, 146);
        grid-column: 1 / 9;
        grid-row: 1;
    }
    .b{
        background-color: powderblue;
        grid-column: 1 / 9;
        grid-row: 2;
    }
    .c{
        background-color: rgb(102, 131, 185);
        grid-column: 1 / 9;
        grid-row: 7 ;
    }
    .d{
        background-color: rgb(240, 161, 81);
        grid-column: 1 / 9;
        grid-row: 3 / 7;
    }
    .e{
        background-color: plum;
        grid-column: 1 / 9;
        grid-row: 8 ;
    }
    .f{
        background-color: rgb(208, 86, 86);
        grid-column: 1 / 9;
        grid-row: 9;
    }
}